.cj_main {
  width: 95%;
  height: 100vh;
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  .cj_section {
    border: 1px solid blue;
    width: 70vw;
    height: 88vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(82, 82, 82, 1);
    border-radius: 20px;
    transition: background-color 0.3s ease;
  
    .cj_header{
      padding: 0.5rem;
      width: 70vw;
      height: 3vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      span:after{
        content: "";
        display: block;
        width: 0.9vw;
        height: 0.9vh;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  
    .cj_movie{
      background-color: rgba(28, 28, 30, 1);
      width: 70vw;
      height: 43vh;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .movie_section{
        border: 1px solid red;
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        background: url(../images/Front2.png)no-repeat 50% 50% / contain;
        .cj_pc{
          margin-top: 1rem;
          width: 100%;
          height: 68%;
          border-radius: 20px 20px 0 0;
        }
        .cj_pc_mok{
            border: 10px solid black;
            border-radius: 20px;
            height: 300px;
            width: 144px;
            position: absolute;
            left: 25%;
            top: 20%;

          .cj_pc1{
            height: 300px;
 
          }
        }
        .cj_tablet_mok{
          border: 10px solid black;
          border-radius: 20px;
          width: 300px;
          position: absolute;
          right: 13%;
          top: 15%;

          .cj_tablet{
            width: 300px;
          }
        }

      }

      
    }
    .cj_title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

      h2{
        font-size: 9rem;
        font-weight: bold;
        color: #fff;
        
      }
      span{
        color: #fff;
          font-weight: 600;
          border: 1px solid #fff;
          font-size: 1rem;
          padding: 0.4rem;
      }
    } 
    p{
      color: #ABB2BF;
      font-weight: 600;
      font-size: 1rem;
      position: absolute;
      right: 1%;
      top: 74.5%;
    }
    blockquote {
      position: relative;
      padding-bottom: 1rem;
      font-size: 2rem;
      color: #303030;
      background: conic-gradient(from 180deg at 100% calc(100% - 1rem), #303030 0 25%, #fff0 0 100%), conic-gradient(from 180deg at 1rem 50%, #303030 0 25%, #fff0 0 100%), conic-gradient(from 0deg at calc(100% - 1rem) 50%, #303030 0 25%, #fff0 0 100%), conic-gradient(from 0deg at 0rem 1rem, #303030 0 25%, #fff0 0 100%);
      border: 1px solid blue;
    } 
    blockquote:before, 
    blockquote:after {
      content: "";
      position: absolute;
      width: 3.5rem;
      height: 4.5rem;
      top: 3rem;
      left: -1rem;
      transform: rotate(5deg) scale(1.15);
      background: 
        radial-gradient(circle at 1.75rem 3rem, #303030 1.5rem, #fff0 calc(1.5rem + 1px)), 
        radial-gradient(circle at 3.5rem 1.5rem, #fff0 2rem, #303030 calc(2rem + 1px) calc(4rem + 1px), #fff0 calc(4rem + 2px));
      filter: drop-shadow(3.5rem -0.5rem 0px #303030);
      border-radius: 100%;
    }
    
    blockquote:after {
      top: inherit;
      bottom: 3rem;
      transform: rotate(195deg) scale(1.15);
      right: -1rem;
      left: inherit;
    }
    .faq {

      list-style: none;
      background-color: #000;
      padding-left: 4rem;
      border-radius: 0 0 20px 20px;
    }

    .faq li.active .answer {
      max-height: 275px !important;
      padding-bottom: 20px;
      transition: max-height 0.5s ease, padding-bottom 0.5s ease;
    }
    .faq li.active .question {
      color: #808080;
      transition: color 0.5s ease;
    }
    .faq .answer {
      color: #fff;
      font-size: 1rem;
      line-height: 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, padding-bottom 0.5s ease;
    }
    .faq .plus-minus-toggle {
      cursor: pointer;
      height: 21px;
      position: absolute;
      width: 21px;
      left: -40px;
      top: 50%;
      z-index: 2;
    }
    .faq .plus-minus-toggle:before, .faq .plus-minus-toggle:after {
      background: #fff;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }
    .faq .plus-minus-toggle:after {
      transform-origin: center;
    }
    .faq .plus-minus-toggle.collapsed:after {
      transform: rotate(90deg);
    }
    .faq .plus-minus-toggle.collapsed:before {
      transform: rotate(180deg);
    }
    .faq .question {
      color: #fff;
      font-size: 1.3rem;
      font-weight: 800;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
      padding: 20px 0;
      transition: color 0.5s ease;
    }  

  }
  .cj_section.toggled {
    background-color: #ccc;
  }
}
@media (max-width: 768px) {
  .cj_main{
    .cj_section{
      width: 85%;
      top: 52%;
      .cj_header{
        height: 5vh;
        span:after{
          width: 2vw;
          height: 1vh;
        }
      }  
      .cj_movie{
        background-color: rgba(28, 28, 30, 1);
        width: 78vw;
        height: 43vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .movie_section{
          border: 1px solid red;
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative;
          background: url(../images/Front2.png)no-repeat 50% 50% / contain;
          .cj_pc{
            margin-top: 2rem;
            width: 100%;
           
          }
          .cj_pc_mok{
              border: 10px solid black;
              border-radius: 20px;
              height: 300px;
              width: 144px;
              position: absolute;
              left: 0%;
              top: 20%;
  
            .cj_pc1{
              height: 300px;
   
            }
          }
          .cj_tablet_mok{
            border: 10px solid black;
            border-radius: 20px;
            width: 200px;

            position: absolute;
            right: 0%;
  
            .cj_tablet{
              width: 200px;


            }
          }
  
        }
  
        
      }
      .cj_title{
        h2{
          font-size: 10rem;
     
        }
        span{
          padding: 0.5rem;
        }
      }
      p{
        top: 67%;
        font-size: 0.9rem;
        left:15%;
        
      }
      blockquote{
        padding-bottom: 4rem;

      }
      blockquote:after{
        bottom: 1rem;
        right: -2rem;
      }
      blockquote:before{
        top: 2rem;
        left: -2rem;
      }
      .faq{
        padding-left: 7rem;

        li{
          .question{
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width:1399px) {
  .cj_main{
    .cj_section{
      .cj_p{
        top: 68%;
      }
      .cj_movie{
        background-color: rgba(28, 28, 30, 1);
        width: 70vw;
        height: 43vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .movie_section{
          border: 1px solid red;
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative;
          background: url(../images/Front2.png)no-repeat 50% 50% / contain;
          .cj_pc{
            margin-top: 1rem;
            width: 100%;
            height: 68%;
            border-radius: 20px 20px 0 0;
          }
          .cj_pc_mok{
              border: 10px solid black;
              border-radius: 20px;
              height: 300px;
              width: 144px;
              position: absolute;
              left: 0% !important;
              top: 20%;
  
            .cj_pc1{
              height: 300px;
   
            }
          }
          .cj_tablet_mok{
            border: 10px solid black;
            border-radius: 20px;
            width: 300px;
            position: absolute;
            right: 0 !important;
            top: 15%;
  
            .cj_tablet{
              width: 300px;
            }
          }
  
        }
  
        
      }
    }
  }
}

@media (min-width: 1400px) and (max-width:1597px) {
  .cj_main{
    .cj_section{
      .cj_p{
        top: 72.5%;
      }
      .cj_movie{
        background-color: rgba(28, 28, 30, 1);
        width: 70vw;
        height: 43vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .movie_section{
          border: 1px solid red;
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative;
          background: url(../images/Front2.png)no-repeat 50% 50% / contain;
          .cj_pc{
            margin-top: 1rem;
            width: 100%;
            height: 68%;
            border-radius: 20px 20px 0 0;
          }
          .cj_pc_mok{
              border: 10px solid black;
              border-radius: 20px;
              height: 300px;
              width: 144px;
              position: absolute;
              left: 15% !important;
              top: 20%;
  
            .cj_pc1{
              height: 300px;
   
            }
          }
          .cj_tablet_mok{
            border: 10px solid black;
            border-radius: 20px;
            width: 300px;
            position: absolute;
            right: 0 !important;
            top: 15%;
  
            .cj_tablet{
              width: 300px;
            }
          }
  
        }
  
        
      }
    }
  }
}