.facebook_main{
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background: #000;
  position: relative;
  border: 20px solid #222;
  border-radius: 30px;
  box-sizing: border-box;
  .facebook_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    margin: 0 2rem 2rem 2rem;
    border: 1px solid red;
    h2{
      color: #fff;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .facebook_movie{
    border: 20px solid #222;
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #fff;

  }
  .facebook_skill{
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding-top: 1rem;
  width: 92.5%;
  margin: 0 auto;
  line-height: 1.5;
  h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
  }
  p{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  p:last-child{
    padding-top: 0.5rem;
    font-size: 0.6rem;
    text-align: right;
  }
  span{ 
  border: 3px solid #333;
  border-radius: 10px;  
  }
  span:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 28%;
    border: 3px solid #fff;
    border-radius: 10px;
    transform: translateY(0px);animation: ani3 5s ease-in-out 0.5s  infinite;
  }  
  @keyframes ani3 {
    0%{width: 1%;}
    100%{width: 100%;}
    }
  }
  .facebook_music{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    border: 1px solid red;
    margin: 2rem 2rem 2rem 2rem;
    svg{
      margin: 0 2rem;
    }
    .animation-container {
      height: 50px;
      width:50px;
      overflow: hidden;
      position: relative;
      .bar {
        position: absolute;
        background-color: #fff;
        height: 100%;
        width: 7px;
        
      }
      #b1 {
        left: 10px;
        transform: translateY(40%);
        animation: play-bar-1 0.7s infinite steps(30, start);
        
      }  
      #b2 {
        transform: translateY(90%);
        left: 20px;
        animation: play-bar-2 0.7s infinite steps(30, start);
      }
      #b3 {
        left: 30px;
        transform: translateY(0);
        animation: play-bar-3 0.7s infinite steps(30, start);
      }
      
      /* CSS bar animation */
      @keyframes play-bar-1 {
        0% {
          transform: translateY(40%);
        }
        25%  {
          transform: translateY(90%);
        }
        50% {
          transform: translateY(50%);
        }
        75% {
          transform: translateY(10%);
        }
        100% {
          transform: translateY(40%);
        }
      }
      @keyframes play-bar-2 {
        0% {
          transform: translateY(90%);
        }
        25% {
          transform: translateY(40%);
        }
        50% {
          transform: translateY(10%);
        }
        75% {
          transform: translateY(40%);
        }
        100% {
          transform: translateY(90%);
        }
      }
      @keyframes play-bar-3 {
        0% {
          transform: translateY(0%);
        }
        25% {
          transform: translateY(40%);
        }
        50% {
          transform: translateY(90%);
        }
        75% {
          transform: translateY(40%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    }
    

  }
}
@media (max-width: 768px) {
  .facebook_main{

    .facebook_header{
      h2{
        font-size: 3rem;
      }
    }
    .facebook_movie{
      height: 50vh;

    }
    .facebook_skill{
      margin: 3rem auto;
      span:after{
        bottom: 31%;
      }
    }
    .facebook_music{
      margin-top: 5rem;
    }
  }

}