.header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  width: 100%;

  .header_time{
    margin-left: 30px;
  }
  .header_battery{
    margin-right: 30px;
  }

}