.introduce_main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
  position: relative;
  border: 20px solid #222;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
.introduce_face{
  margin: 0 auto;
  .chat{
    position: absolute;
    left: 5%;
    top: 0;
    width: 30%;
    height: 10%;
    
  }
  .face{
    width: 100%;
    height: 100%;
  }
  svg{
    border: 1px solid red;
  }
}
.introduce_text{
  background-color: #1C1C1E;
  border-radius: 0 0 10px 10px;
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  .introduce_header{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    height: 7vh;
    padding: 1rem;
    .introduce_box{
      width: 50px;
      height: 5vh;
      background-color: #82EFB8;
      border-radius: 5px;
    }
    .introduce_self{
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      p:first-of-type{
        color: #fff;
        font-size: 1rem;
      }
      p{
        color: #ABB2BF;
        font-size: 0.8rem;
      }
    }
    span{
      position: absolute;
      right: 1%;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #767680;
      opacity: 0.8;
      
    }
  }
  .introduce_content{
    @-webkit-keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    .slider {
      background: #1C1C1E;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 0 auto;
    }
    .slider::before, .slider::after {
      background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 40%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    .slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
    .slider::before {
      left: 0;
      top: 0;
    }
    .slider .slide-track {
      -webkit-animation: scroll 20s linear infinite;
              animation: scroll 20s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    .slider .slide {
      height: 100px;
      width: 250px;
    }
    
  }
  .introduce_des{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    h2{
      font-size: 3rem;
      color: #fff;
      font-weight: bold;
    }
    .typing-demo {
      width: 9.5ch;
      animation: typing 3s steps(22) alternate infinite, blink 0.5s step-end infinite;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-size: 3em;
    }
    
    @keyframes typing {
      from {
        width: 0;
      }
    }
    
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    p{
      color: #fff;
      line-height: 1.5;
      margin-left: 2rem;
    }
  }
}
}

@media (max-width: 768px){
  .introduce_text{
    height: 40.1vh !important;
  }
  .face{
    height: 50vh !important;
  }
}