.introduce_main{
  width: 95%;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
  position: relative;
  border: 20px solid #222;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.introduce_face{
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;

  justify-content: center;
  .introduce_my{
    display: flex;
    flex-direction: row;
    width: 100%;

    color: #fff;
    padding: 2rem;
    background: linear-gradient(230deg, #fff 0%,#fff 50%,#1C1C1E 50.5%,rgba(79, 79, 79, 1)); 
    color:rgba(0,0,0,.8);
    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
    .introduce_myslef{
      
      .setting_content{
        color: #D1C7C7;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .setting_index{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
         
          .setting_idx{
            border-radius: 20px 20px 0 0;
            background-image: linear-gradient(to bottom, #1C1C1E, rgba(79, 79, 79, 1));
            border-bottom: 5px solid;
            flex: 1;
            margin: 0 1rem;
            padding: 1rem;
        
            h4{
              font-size: 2rem;
              font-weight: bold;
              color: #fff;
              &:hover{
                color: #D1C7C7;
              }
            }
            p{
              padding: 0.3rem;
              font-size: 1.1rem;
              font-weight: 600;
              color: #D1C7C7;
              cursor: pointer;
              &:hover{
                color: #535353;
              }
            }
          }
          .setting_idx:nth-of-type(2){
            border-radius: 0;
          }
          .setting_idx:nth-of-type(3){
            border-radius: 0 0 20px 20px;
            border: none;
          }
        }
    
    
      }
    }
  }
}
.introduce_text{
  background-color: #1C1C1E;
  border-radius: 0 0 10px 10px;
  height: 36vh;
  width: 100%;
  margin: 0 auto;
  .introduce_header{
    display: flex;
    flex-direction: row;

    height: 7vh;
    padding: 1rem;
    .introduce_box{
      width: 50px;
      height: 5vh;
      background-color: #82EFB8;
      border-radius: 5px;
      background: url(../images/face2.png)no-repeat 0 30% / cover;
    }
    .introduce_self{
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      p:first-of-type{
        color: #fff;
        font-size: 1rem;
      }
      p{
        color: #ABB2BF;
        font-size: 0.8rem;
      }
    }
   
    span{
      position: absolute;
      right: 1%;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #767680;
      opacity: 0.8;
    }
  }
  .introduce_content{
    @-webkit-keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    .slider {
      background: #1C1C1E;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 0 auto;
    }
    .slider::before, .slider::after {
      background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 40%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    .slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
    .slider::before {
      left: 0;
      top: 0;
    }
    .slider .slide-track {
      -webkit-animation: scroll 20s linear infinite;
              animation: scroll 20s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    .slider .slide {
      height: 100px;
      width: 250px;
    }
    
  }
  .introduce_des{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    display: none;
    h2{
      font-size: 3rem;
      color: #fff;
      font-weight: bold;
      
    }
    .typing-demo {
      width: 9.5ch;
      animation: typing 3s steps(22) alternate infinite, blink 0.5s step-end infinite;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-size: 3em;
    }
    
    @keyframes typing {
      from {
        width: 0;
      }
    }
    
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    p{
      color: #fff;
      line-height: 1.5;
      margin-left: 2rem;
    }
  }
}
}

@media (min-width:770px) and (max-width:1520px) {
  .introduce_main{
    width: 95%;
    height: 100vh;
    box-sizing: border-box;
    background: #000;
    position: relative;
    border: 20px solid #222;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  .introduce_face{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;

    justify-content: center;
    .face_1{
      width: 50%;
    }
    .introduce_my{
      display: flex;
      flex-direction: row;
      width: 100%;

      color: #fff;
      padding: 2rem;
      background: linear-gradient(230deg, #fff 0%,#fff 50%,#1C1C1E 50.5%,rgba(79, 79, 79, 1)); 
      color:rgba(0,0,0,.8);
      box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
      .introduce_myslef{
        
        .setting_content{
          color: #D1C7C7;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          .setting_index{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
           
            .setting_idx{
              border-radius: 20px 20px 0 0;
              background-image: linear-gradient(to bottom, #1C1C1E, rgba(79, 79, 79, 1));
              border-bottom: 5px solid;
              flex: 1;
              margin: 0 1rem;
              padding: 1rem;
          
              h4{
                font-size: 2rem;
                font-weight: bold;
                color: #fff;
                &:hover{
                  color: #D1C7C7;
                }
              }
              p{
                padding: 0.3rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: #D1C7C7;
                cursor: pointer;
                &:hover{
                  color: #535353;
                }
              }
            }
            .setting_idx:nth-of-type(2){
              border-radius: 0;
            }
          }
      
      
        }
      }
    }
  }
  .introduce_text{
    background-color: #1C1C1E;
    border-radius: 0 0 10px 10px;
    height: 36vh;
    width: 100%;
    margin: 0 auto;
    .introduce_header{
      display: flex;
      flex-direction: row;

      height: 7vh;
      padding: 1rem;
      .introduce_box{
        width: 50px;
        height: 5vh;
        background-color: #82EFB8;
        border-radius: 5px;
        background: url(../images/face2.png)no-repeat 0 30% / cover;
      }
      .introduce_self{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        p:first-of-type{
          color: #fff;
          font-size: 1rem;
        }
        p{
          color: #ABB2BF;
          font-size: 0.8rem;
        }
      }
     
      span{
        position: absolute;
        right: 1%;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #767680;
        opacity: 0.8;
      }
    }
    .introduce_content{
      @-webkit-keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      .slider {
        background: #1C1C1E;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
      .slider::before, .slider::after {
        background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 40%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .slider::before {
        left: 0;
        top: 0;
      }
      .slider .slide-track {
        -webkit-animation: scroll 20s linear infinite;
                animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
      .slider .slide {
        height: 100px;
        width: 250px;
      }
      
    }
    .introduce_des{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      display: none;
      h2{
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
        
      }
      .typing-demo {
        width: 9.5ch;
        animation: typing 3s steps(22) alternate infinite, blink 0.5s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 3em;
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
      }
      
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      p{
        color: #fff;
        line-height: 1.5;
        margin-left: 2rem;
      }
    }
  }
  }
}
@media (min-width:500px) and (max-width:769px) {
  .introduce_main{
    width: 95%;
    height: 100vh;
    box-sizing: border-box;
    background: #000;
    position: relative;
    border: 20px solid #222;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  .introduce_face{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    .face_1{
      width: 50%;
    }
    .introduce_my{
      display: flex;
      flex-direction: row;
      width: 100%;

      color: #fff;
      padding: 2rem;
      background: linear-gradient(230deg, #fff 0%,#fff 50%,#1C1C1E 50.5%,rgba(79, 79, 79, 1)); 
      color:rgba(0,0,0,.8);
      box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
      .introduce_myslef{
        
        .setting_content{
          color: #D1C7C7;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          .setting_index{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
           
            .setting_idx{
              border-radius: 20px 20px 0 0;
              background-image: linear-gradient(to bottom, #1C1C1E, rgba(79, 79, 79, 1));
              border-bottom: 5px solid;
              flex: 1;
              margin: 0 1rem;
              padding: 1rem;
          
              h4{
                font-size: 2rem;
                font-weight: bold;
                color: #fff;
                &:hover{
                  color: #D1C7C7;
                }
              }
              p{
                padding: 0.3rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: #D1C7C7;
                cursor: pointer;
                &:hover{
                  color: #535353;
                }
              }
            }
            .setting_idx:nth-of-type(2){
              border-radius: 0;
            }
          }
      
      
        }
      }
    }
  }
  .introduce_text{
    background-color: #1C1C1E;
    border-radius: 0 0 10px 10px;
    height: 36vh;
    width: 100%;
    margin: 0 auto;
    .introduce_header{
      display: flex;
      flex-direction: row;

      height: 7vh;
      padding: 1rem;
      .introduce_box{
        width: 50px;
        height: 5vh;
        background-color: #82EFB8;
        border-radius: 5px;
        background: url(../images/face2.png)no-repeat 0 30% / cover;
      }
      .introduce_self{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        p:first-of-type{
          color: #fff;
          font-size: 1rem;
        }
        p{
          color: #ABB2BF;
          font-size: 0.8rem;
        }
      }
     
      span{
        position: absolute;
        right: 1%;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #767680;
        opacity: 0.8;
      }
    }
    .introduce_content{
      @-webkit-keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      .slider {
        background: #1C1C1E;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
      .slider::before, .slider::after {
        background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 40%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .slider::before {
        left: 0;
        top: 0;
      }
      .slider .slide-track {
        -webkit-animation: scroll 20s linear infinite;
                animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
      .slider .slide {
        height: 100px;
        width: 250px;
      }
      
    }
    .introduce_des{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      display: none;
      h2{
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
        
      }
      .typing-demo {
        width: 9.5ch;
        animation: typing 3s steps(22) alternate infinite, blink 0.5s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 3em;
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
      }
      
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      p{
        color: #fff;
        line-height: 1.5;
        margin-left: 2rem;
      }
    }
  }
  }
}

@media (min-width:0px) and (max-width:499px) {
  .introduce_main{
    width: 95%;
    height: 100vh;
    box-sizing: border-box;
    background: #000;
    position: relative;
    border: 20px solid #222;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  .introduce_face{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    .face_1{
      width: 40%;
    }
    .introduce_my{
      display: flex;
      flex-direction: row;
      width: 100%;

      color: #fff;
      padding: 2rem;
      background: linear-gradient(230deg, #fff 0%,#fff 50%,#1C1C1E 50.5%,rgba(79, 79, 79, 1)); 
      color:rgba(0,0,0,.8);
      box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
      .introduce_myslef{
        
        .setting_content{
          color: #D1C7C7;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          .setting_index{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
           
            .setting_idx{
              border-radius: 20px 20px 0 0;
              background-image: linear-gradient(to bottom, #1C1C1E, rgba(79, 79, 79, 1));
              border-bottom: 5px solid;
              flex: 1;
              margin: 0 1rem;
              padding: 1rem;
          
              h4{
                font-size: 2rem;
                font-weight: bold;
                color: #fff;
                &:hover{
                  color: #D1C7C7;
                }
              }
              p{
                padding: 0.3rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: #D1C7C7;
                cursor: pointer;
                &:hover{
                  color: #535353;
                }
              }
            }
            .setting_idx:nth-of-type(2){
              border-radius: 0;
            }
          }
      
      
        }
      }
    }
  }
  .introduce_text{
    background-color: #1C1C1E;
    border-radius: 0 0 10px 10px;
    height: 36vh;
    width: 100%;
    margin: 0 auto;
    .introduce_header{
      display: flex;
      flex-direction: row;

      height: 7vh;
      padding: 1rem;
      .introduce_box{
        width: 50px;
        height: 5vh;
        background-color: #82EFB8;
        border-radius: 5px;
        background: url(../images/face2.png)no-repeat 0 30% / cover;
      }
      .introduce_self{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        p:first-of-type{
          color: #fff;
          font-size: 1rem;
        }
        p{
          color: #ABB2BF;
          font-size: 0.8rem;
        }
      }
     
      span{
        position: absolute;
        right: 1%;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #767680;
        opacity: 0.8;
      }
    }
    .introduce_content{
      @-webkit-keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      .slider {
        background: #1C1C1E;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
      .slider::before, .slider::after {
        background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 40%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .slider::before {
        left: 0;
        top: 0;
      }
      .slider .slide-track {
        -webkit-animation: scroll 20s linear infinite;
                animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
      .slider .slide {
        height: 100px;
        width: 250px;
      }
      
    }
    .introduce_des{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      display: none;
      h2{
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
        
      }
      .typing-demo {
        width: 9.5ch;
        animation: typing 3s steps(22) alternate infinite, blink 0.5s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 3em;
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
      }
      
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      p{
        color: #fff;
        line-height: 1.5;
        margin-left: 2rem;
      }
    }
  }
  }
}
