.introduce_main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
  position: relative;
  border: 20px solid #222;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
.introduce_face{
  margin: 0 auto;
  svg{
    border: 1px solid red;
  }
}
.introduce_text{
  background-color: #1C1C1E;
  border-radius: 0 0 10px 10px;
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  .introduce_header{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    height: 7vh;
    padding: 1rem;
    .introduce_box{
      width: 50px;
      height: 5vh;
      background-color: #82EFB8;
      border-radius: 5px;
    }
    .introduce_self{
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      p:first-of-type{
        color: #fff;
        font-size: 1rem;
      }
      p{
        color: #ABB2BF;
        font-size: 0.8rem;
      }
    }
    span{
      position: absolute;
      right: 1%;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #767680;
      opacity: 0.8;
      
    }
  }
  .introduce_content{
    
  }
}
}