.kakao_main{
  width: 95%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  border: 1px solid red;
  .kakao_section{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 87vh;
    width: 90%;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    border: 10px solid #222;
    border-radius: 30px;
    background-color: #333;
    .kakao_movie{
      position: relative;
      top: 10%;
      left: 1%;
      width: 356px;
      height: 74vh;
      border: 10px solid #000;
      border-radius: 20px;

      .kakao_app{
        width: 349px;
      }

    }
    .kakao_container{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 70vw;
      height: 85vh;

      .kakao_header{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
 
        .goo {
          position: relative;
          width: 100%;
          margin: 0 auto;
          filter: url(#goo);
          h1 {
            font-weight: bold;
            font-size: 6rem;
            color: rgba(250, 206, 0, 1);
            text-shadow: 1px 1px 0 #002d54;
          }  
          .drop {
            opacity: 0;
            width: 30px;
            height: 40px;
            background: rgba(250, 206, 0, 1);
            border-radius: 1000px;
            position: absolute;
            animation: drip 7s infinite;
            border: 2px solid #002d54;
            border-top: none;
            top: 0;
            left: 700px;
          }
          .drop:nth-child(2) {
            left: 300px;
            animation-delay: 3s;
          }
          .drop:nth-child(3) {
            left: 500px;
            animation-delay: 2s;
          }
          .drop:nth-child(4) {
            left: 700px;
            animation-delay: 4s;
          }
          .drop:nth-child(5) {
            left: 955px;
            animation-delay: 1.5s;
          }
          .drop:nth-child(6) {
            left: 150px;
            animation-delay: 5s;
          }
          
          @keyframes drip {
            0% {
              opacity: 0;
              transform: translateY(0);
            }
            35% {
              opacity: 1;
              transform: translateY(30px);
            }
            50% {
              transform: translateY(100vh);
            }
            100% {
              transform: translateY(100vh);
            }
          }
        }
        

        p{
          font-size: 1rem;
          color: #ABB2BF;
          font-weight: 550;
          margin-left: 1rem;
        }
      }
      .kakao_skill{
        margin-top: 1rem;
        margin-left: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        span{
          border: 1px solid #ABB2BF;
          padding: 0.5rem;
          margin-right: 1rem;
          color: #ABB2BF;
          font-weight: 500;
          transition: .3s ease-in-out;
          cursor: pointer;
          box-sizing: border-box;
          &:hover{
            box-shadow: inset 12em 0 0 0 white;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
          }
        }
      }
      .kakao_date{
        margin: 3rem 2rem;
        span{
          border: 1px solid #ABB2BF;
          padding: 0.7rem;
          color: #ABB2BF;
        }
      }
      .kakao_overview{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        h3{
          color: #ABB2BF;
          font-weight: bold;
          width: 5vw;

        }
        p{
   
          padding: 2rem 1rem;
          color: #fff;
          width: 33vw;
          background-color: #222;
          border-radius: 20px;
          margin-top: 0.5rem;
        }
      }
      .kakao_description{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 1%;
        right: 2%;
        
        h3{
          color: #ABB2BF;
          font-weight: bold;
          padding-bottom: 0.5rem;
          width: 5vw;

        }
        .kakao_des{
          border-radius: 20px;
          width: 30vw;
          padding: 1rem;
          background-color: #036825;
          
          p{
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .kakao_nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 5%;
        padding-left: 1rem;

        span{
          border: 1px solid #ABB2BF;
          padding: 0.5rem;
          margin-right: 1rem;
          color: #ABB2BF;
          font-weight: 500;
          cursor: pointer;
          transition: .3s ease-in-out;
          &:hover{
            box-shadow: inset 12em 12em 0 0 white;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {

  .kakao_main{
    .kakao_section{
      border: 1px solid blue;
      width: 90%;
      height: 87vh;
      .kakao_movie{
        position: relative;
        top: 10%;
        left: 15%;
        width: 274px;
        height: 59vh;
        border: 10px solid #000;
        border-radius: 20px;
        .kakao_app{
          width: 274px;
        }
      }
      .kakao_container{
        position: absolute;
        left: 0%;
        width: 95% !important;
        z-index: 1 !important;
        opacity: 0.8;
        .kakao_header{
          .goo {
            position: relative;
            width: 100%;
            margin: 0 auto;
            filter: url(#filter);
            
            h1 {
              font-weight: bold;
              font-size: 2rem;
              color: rgba(250, 206, 0, 1);
              text-shadow: 10px 1px 0 #002d54;

            }  
            .drop {
              display: none;
              opacity: 0;
              width: 30px;
              height: 40px;
              background: rgba(250, 206, 0, 1);
              border-radius: 1000px;
              position: absolute;
              animation: drip 7s infinite;
              border: 2px solid #002d54;
              border-top: none;
              top: 0;
              left: 200px;
            }
            .drop:nth-child(2) {
              left: 300px;
              animation-delay: 3s;
            }
            .drop:nth-child(3) {
              left: 500px;
              animation-delay: 2s;
              display: none;
            }
            .drop:nth-child(4) {
              left: 400px;
              animation-delay: 4s;
              display: none;
            }
            .drop:nth-child(5) {
              left: 600px;
              animation-delay: 1.5s;
              display: none;
            }
            .drop:nth-child(6) {
              left: 150px;
              animation-delay: 5s;
            }
            
            @keyframes drip {
              0% {
                opacity: 0;
                transform: translateY(0);
              }
              35% {
                opacity: 1;
                transform: translateY(30px);
              }
              50% {
                transform: translateY(100vh);
              }
              100% {
                transform: translateY(100vh);
              }
            }
          }

        }
        .kakao_skill{
          margin-top: 0;
          span{
           
          }
        }
        .kakao_date{
          margin: 1.5rem;
          margin-left: 17rem;
        }
        .kakao_overview{
          position: absolute;
          bottom: 1%;
          p{
            width: 20vw;
   
          }
        }
        .kakao_description{
          position: absolute;
          right: -2%;
          bottom: -1%;
          .kakao_des{
            border-radius: 20px;
            width: 48vw;
            padding: 1rem;
            background-color: #036825;
            
            p{
              color: #fff;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2;
            }
          }
        }
        .kakao_nav{
          bottom: 15%;
        }
      }
    }
  }

}

@media (min-width: 769px) and (max-width:1199px) {
  .kakao_main{
    .kakao_section{
      .kakao_movie{
        position: relative;
        top: 10%;
        left: 1%;
        width: 300px;
        height: 64vh;
        border: 10px solid #000;
        border-radius: 20px;
  
        .kakao_app{
          width: 299px;
        }
  
      }
      .kakao_container{
        .kakao_header{
          .goo {
            position: relative;
            width: 100%;
            margin: 0 auto;
            filter: url(#filter);
            
            h1 {
              font-weight: bold;
              font-size: 3rem;
              color: rgba(250, 206, 0, 1);
              text-shadow: 10px 1px 0 #002d54;

            }  
            .drop {
              display: none;
              opacity: 0;
              width: 30px;
              height: 40px;
              background: rgba(250, 206, 0, 1);
              border-radius: 1000px;
              position: absolute;
              animation: drip 7s infinite;
              border: 2px solid #002d54;
              border-top: none;
              top: 0;
              left: 200px;
            }
            .drop:nth-child(2) {
              left: 300px;
              animation-delay: 3s;
            }
            .drop:nth-child(3) {
              left: 500px;
              animation-delay: 2s;
              display: none;
            }
            .drop:nth-child(4) {
              left: 400px;
              animation-delay: 4s;
              display: none;
            }
            .drop:nth-child(5) {
              left: 600px;
              animation-delay: 1.5s;
              display: none;
            }
            .drop:nth-child(6) {
              left: 150px;
              animation-delay: 5s;
            }
            
            @keyframes drip {
              0% {
                opacity: 0;
                transform: translateY(0);
              }
              35% {
                opacity: 1;
                transform: translateY(30px);
              }
              50% {
                transform: translateY(100vh);
              }
              100% {
                transform: translateY(100vh);
              }
            }
          }

        }
        .kakao_skill{
          span{
          margin-bottom: 0.7rem; 
          }
        }
        .kakao_date{

        }
        .kakao_overview{
          margin: 0;
          p{

          }
        }
        .kakao_description{
          bottom: 10%;
        }
      }
    }
  }  
}

@media (min-width:1200px) and (max-width:1399px) {
  .kakao_main{
    .kakao_section{
      .kakao_movie{

      }
      .kakao_container{
        .kakao_header{
          .goo {
            position: relative;
            width: 100%;
            margin: 0 auto;
            filter: url(#filter);
            
            h1 {
              font-weight: bold;
              font-size: 6rem;
              color: rgba(250, 206, 0, 1);
              text-shadow: 10px 1px 0 #002d54;

            }  
            .drop {
              opacity: 0;
              width: 30px;
              height: 40px;
              background: rgba(250, 206, 0, 1);
              border-radius: 1000px;
              position: absolute;
              animation: drip 7s infinite;
              border: 2px solid #002d54;
              border-top: none;
              top: 0;
              left: 200px;
            }
            .drop:nth-child(2) {
              left: 300px;
              animation-delay: 3s;
            }
            .drop:nth-child(3) {
              left: 500px;
              animation-delay: 2s;
            }
            .drop:nth-child(4) {
              left: 400px;
              animation-delay: 4s;
            }
            .drop:nth-child(5) {
              left: 600px;
              animation-delay: 1.5s;
            }
            .drop:nth-child(6) {
              left: 150px;
              animation-delay: 5s;
            }
            
            @keyframes drip {
              0% {
                opacity: 0;
                transform: translateY(0);
              }
              35% {
                opacity: 1;
                transform: translateY(30px);
              }
              50% {
                transform: translateY(100vh);
              }
              100% {
                transform: translateY(100vh);
              }
            }
          }
        }
        .kakao_skill{

        }
        .kakao_date{

        }
        .kakao_overview{
          p{
          }
        }
        .kakao_description{

        }
      }
    }
  }  

}

@media (min-width: 1400px) and (max-width:1695px) {
  .kakao_main{
    .kakao_section{
      .kakao_movie{

      }
      .kakao_container{
        .kakao_header{
          .goo {
            position: relative;
            width: 100%;
            margin: 0 auto;
            filter: url(#filter);
            
            h1 {
              font-weight: bold;
              font-size: 5rem;
              color: rgba(250, 206, 0, 1);
              text-shadow: 10px 1px 0 #002d54;

            }  
            .drop {
              opacity: 0;
              width: 30px;
              height: 40px;
              background: rgba(250, 206, 0, 1);
              border-radius: 1000px;
              position: absolute;
              animation: drip 7s infinite;
              border: 2px solid #002d54;
              border-top: none;
              top: 0;
              left: 200px;
            }
            .drop:nth-child(2) {
              left: 300px;
              animation-delay: 3s;
            }
            .drop:nth-child(3) {
              left: 500px;
              animation-delay: 2s;
            }
            .drop:nth-child(4) {
              left: 700px;
              animation-delay: 4s;
            }
            .drop:nth-child(5) {
              left: 600px;
              animation-delay: 1.5s;
            }
            .drop:nth-child(6) {
              left: 150px;
              animation-delay: 5s;
            }
            
            @keyframes drip {
              0% {
                opacity: 0;
                transform: translateY(0);
              }
              35% {
                opacity: 1;
                transform: translateY(30px);
              }
              50% {
                transform: translateY(100vh);
              }
              100% {
                transform: translateY(100vh);
              }
            }
          }
        }
      }
    }
  }  
}
@media (min-width: 1696px) and (max-width:1924px) {
  .kakao_main{
    .kakao_section{
      .kakao_movie{

      }
      .kakao_container{
        .kakao_header{
          .goo{
            h1{
            }
          }
        }
        .kakao_skill{

        }
        .kakao_date{

        }
        .kakao_overview{
          p{
            width: 30vw;
            padding: 1rem;
          }
        }
        .kakao_description{

        }
      }
    }
  }  
}