.kakao_main{
  height: 100vh;
  border: 1px solid red;
  box-sizing: border-box;
  background: #000;
  position: relative;
  .kakao_section{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 87vh;
    width: 85%;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    border: 10px solid #222;
    border-radius: 30px;
    background-color: #333;
    .kakao_movie{
      margin-top: 1rem;
      width: 23%;
      height: 83vh;
      border: 1px solid red;
      background: url(../images/iphone.png)no-repeat 50% 50% / contain;
    }
    .kakao_container{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 70vw;
      height: 83vh;
      border: 1px solid red;
      .kakao_header{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        h2{
          font-size: 4.5rem;
          font-weight: bold;
          
          span{
            color: #F8D323;
            border: 1px solid #F8D323;
            font-weight: 400;
            font-size: 1.2rem;
            padding: 0.4rem;
          }
          
        }
        p{
          font-size: 1rem;
          color: #ABB2BF;
          font-weight: 550;
        }
      }
      .kakao_skill{
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        span{
          border: 1px solid #ABB2BF;
          padding: 0.5rem;
          margin-right: 1rem;
          color: #ABB2BF;
          font-weight: 500;
        }
      }
      .kakao_date{
        margin: 3rem 1rem;
        span{
          border: 1px solid #ABB2BF;
          padding: 0.7rem;
          color: #ABB2BF;
        }
      }
      .kakao_overview{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        h3{
          color: #ABB2BF;
          font-weight: bold;
        }
        p{
          border: 1px solid red;
          padding: 2rem 1rem;
          color: #fff;
          width: 33vw;
          background-color: #222;
          border-radius: 20px;
          margin-top: 0.5rem;
        }
      }
      .kakao_description{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 7%;
        right: 5%;
        
        h3{
          color: #ABB2BF;
          font-weight: bold;
          padding-bottom: 0.5rem;
        }
        .kakao_des{
          border-radius: 20px;
          width: 30vw;
          padding: 1rem;
          background-color: #036825;
          
          p{
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .kakao_nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 5%;
        padding-left: 1rem;
        span{
          border: 1px solid #ABB2BF;
          padding: 0.5rem;
          margin-right: 1rem;
          color: #ABB2BF;
          font-weight: 500;
        }
      }
    }
  }
}
@media (max-width: 768px) {
 .kakao_movie{
  background: url(../images/iphone.png)no-repeat 50% 50% / cover !important;
  width: 40% !important;
 } 
 .kakao_container{
  width: 60% !important;
  .kakao_skill{
    span{
      margin-bottom: 0.5rem !important;
    }   
  }
  .kakao_overview{
    h3{
      font-size: 1.5rem !important;
    }
    p{
      width: 42vw !important;
    }
  }
  .kakao_description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  h3{
    font-size: 1.5rem !important;
  }
  .kakao_des{
    width: 41vw !important;
    margin-bottom: 10rem !important;
  }
 }
}